body {
    font-family: Poppins;
    margin: 0;
}

.orange {
    color: rgb(33, 179, 14);
}

.flexible-content {
    display: flex;
}

.half-width {
    float: left;
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    border: 1px solid tomato;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(tomato, salmon);
    font-weight: 20px;
    color: aliceblue;
}

.link-button:hover {
    background-image: linear-gradient(rgb(240, 47, 13), rgb(158, 20, 5));
}

.top-banner {
    background-image: url(img/site1.png);
    background-repeat: no-repeat;

}

.Dream-Big {
    background-image: url(img/site2.png);
    background-repeat: no-repeat;
}

.ex {
    margin-left: 2%;
    color: green;
}

.ex:hover {
    color: red;
}